div, h1, h2, h3, h4, h5, h6, p, a {
	font-family: Georgia, Times, 'Times New Roman', serif;
}

a {
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #FFF;
}

body {
    padding-top: 0;
}

#site-navigation {
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000;
    height: 25px;
    line-height: 25px;
}

.nav-title {
    display: inline-block;
}

.nav {
    text-align: center;
}

.nav-menu {
    display: inline-block;
}

.nav-menu-item {
    display: inline-block;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 9px;
    padding-right: 9px;
}

.nav-menu-item.active {
    background-color: #594920;
}

.nav-menu-item:hover {
    background-color: #362703;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.jumbotron {
	height: 100vh;
	background: transparent;
    margin-bottom: 0;
}

section {
    margin-top: -20;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.section-title {
	margin-top: -15px;
}

#about {
    background-image: url("http://miriadna.com/desctopwalls/images/max/Hawk.jpg");
}

#cab1 {
    background-image: url("http://www.rameywine.com/userfiles/image/wine/Cabernet-Sauvignon-Pedregal-Vineyard-Oakville.jpg");
}

#story {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/23/Chinese_railroad_workers_sierra_nevada.jpg");
}

#order {
    background-image: url("http://winefolly.com/wp-content/uploads/2013/03/ilkka-siren-photo-by-heidi-uutela.jpg");
}

#contact {
    background-image: url("http://thumbs.dreamstime.com/z/contact-us-20387849.jpg");
}

footer {
    padding: 15px;
}
