div, h1, h2, h3, h4, h5, h6, p, a {
	font-family: Georgia, Times, 'Times New Roman', serif;
}

.navbar-header {
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.jumbotron {
	background-position-y: 50%;
	height: 40vw;
	background: transparent;
}

section {
    margin-top: -20px;
}

.section-inner.branding {
    background-image: url("http://seabirdwines.com/wp-content/themes/seabird/img/Seabird_background_about.jpg");
}

.section-inner.story {
    background-image: url("http://seabirdwines.com/wp-content/themes/seabird/img/Seabird_Background.jpg");
}
.section-inner.cab1 {
    background-image: url("http://seabirdwines.com/wp-content/uploads/2013/11/Seabird_background_cab.jpg");
}

footer {
    padding: 15px;
}
