div, h1, h2, h3, h4, h5, h6, p, a {
	/*font-family: Georgia, Times, 'Times New Roman', serif;*/
    font-family: 'Slabo 27px', serif;
}

p {
	font-family: Georgia, Times, 'Times New Roman', serif;
}

a {
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #FFF;
}

body {
    padding-top: 0;
    padding-bottom: 0;
}

.top-border {
    height: 2px;
    background-color: #CF9700;
    position: fixed;
    width: 100%;
}

.site-navigation {
    background-color: #000;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    height: 25px;
    line-height: 25px;
}

.nav-title {
    display: inline-block;
}

.nav {
    text-align: center;
}

.nav-menu {
    display: inline-block;
}

.nav-menu-item {
    display: inline-block;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 9px;
    padding-right: 9px;
}

.nav-menu .active {
    background-color: #CF9700;
}

.nav-menu-item:hover {
    background-color: #D7AE40;
}

.container-fluid {
    padding: 0;
}

.home {
    background-image: url('../img/soaring_eagle_golden.jpg');
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    margin-top: 0;
    padding: 0;
    padding-top: 100px;
}

.home-title {
    background-color: #CF9700;
    display: inline-block;
    margin-left: 5vw;
    max-width: 75vw;
    padding: 7px;
}

.home-description {
    margin-left: 5vw;
    max-width: 60vw;
    min-height: 300px;
    padding: 7px;
}

section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    height: 110vh;
    padding-bottom: 50px;
}

.section-title {
    background-color: #CF9700;
    display: inline-block;
    margin-left: 50px;
    margin-top: 100px;
    padding: 7px;
}

.section-description {
    margin-left: 50px;
    max-width: 75vw;
    min-height: 50vh;
    padding: 10px;
    padding-left: 12px;
}

.about {
    background-image: url("http://miriadna.com/desctopwalls/images/max/Hawk.jpg");
    background-position: 30%;
}

.wines {
    background-image: url("http://www.rameywine.com/userfiles/image/wine/Cabernet-Sauvignon-Pedregal-Vineyard-Oakville.jpg");
    background-position: 30%;
}

.story {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/2/23/Chinese_railroad_workers_sierra_nevada.jpg");
    background-position: 30%;
}

.order {
    background-image: url("http://winefolly.com/wp-content/uploads/2013/03/ilkka-siren-photo-by-heidi-uutela.jpg");
}

.contact {
    background-image: url("http://previews.123rf.com/images/aprilphoto/aprilphoto1403/aprilphoto140300523/26400928-dated-wine-bottle-corks-on-the-wooden-background-close-up.jpg");
    padding-bottom: 35px;
}

.contact .section-description {
    /*padding-right: 25px;*/
    padding-bottom: 10px;
    margin-bottom: 20px;
}

label {
    padding-bottom: 2px;
    width: 100%;
}

input {
    color: #000;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 15px;
    padding-bottom: 2px;
}

.footer p {
}
