<!DOCTYPE HTML>
<html lang="en">
  {% load staticfiles %}
  <head>
    <title>Catalog - Napa Eagle Winery</title>
    <link rel="icon" href="http://www.wineinvestmentreport.com/favicon.ico">
    <link rel="stylesheet" href="{% static 'eagle/css/bootstrap-dark.min.css' %}">
    <link rel="stylesheet" href="{% static 'eagle/css/catalog.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

            
    <h1>Test load page</h1>

    <div class="product-index">
      <div class="product-card">
       	<div class="header">
       	  <div class="left">
       	  	<img class="image" src="http://i.imgur.com/CnLHeey.jpg"/>
       	  </div>
       	  <div class="right">
       	  	<div class="name">2012 Viognier - Custom Delux</div>
       	  	<div class="location">Russian River Valley</div>
       	  	<div class="price">$53.99</div>
       	  </div>
       	</div>
      	<div class="description">The 2012 Russian River Valley Viognier is a floral wine with excellent aromatics of honeysuckle, jasmine and stonefruit with light texture. Fermented in neutral barrels undergoing partial malolactic fermentation created this light to medium bodied wine.</div>
      	<div class="action-group">
      		<a class="action-btn purchase" href="/products/1">Purchase</a>
      		<a class="action-btn wish-list" href="/products/1">Wish List</a>
      		<a class="action-btn" href="/products/1">View</a>
      	</div>
      </div>
    </div>



    
    <script type="text/javascript" src="{% static 'eagle/js/masonry.pkgd.min.js' %}"></script>
  </body>
</html>
