<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://www.wineinvestmentreport.com/favicon.ico">

    <title>Napa Eagle Wineries - Investment grade wine</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="{% static 'eagle/lib/bootstrap-dark.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/stylesheet/parallax.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheet/main.css">
    <script src="assets/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Napa Eagle Wineries</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="assets/img/main_wine.jpg">
      <div class="container">
        <h1>Napa Eagle Wineries</h1>
        <p>Taste the Napa Valley difference.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>World Class Vineyards.</h2>
          <p>Sourcing our grapes from vineyards such as George III, Broken Rock, and Stagecoach, we limit ourselves to only the most famous vineyards and luxurious grapes. History has shown time and time again that Cabernet Sauvignon produced from the heart of Napa Valley is the among the best in the world.</p>
          <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
        </div>
        <div class="col-md-4">
          <h2>State of the Art Winery.</h2>
          <p>Our elaborate winemaking facility was designed by experts, built by experts, and is operated by experts. We boast the latest cutting edge wine distillation machinery, rock-solid temperature controlled cellars, and incomparably precise chemistry labs to produce a wine that is nothing short of unforgettable.</p>
          <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
       </div>
        <div class="col-md-4">
          <h2>Dedicated People.</h2>
          <p>The people in our team pride themselves on their work - from our grape pickers who harvest in the dead of night to catch the grapes just right, to our chemists who painstakingly ensure that the grapes are maturing correctly, to our taste experts familiar with the most subtle aromas - we are united in our goal to produce the best wine this world has yet to taste.</p>
          <p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© 2015 Napa Eagle LLC</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="assets/js/parallax.min.js"></script>

  </body>
</html>
