<!DOCTYPE HTML>
<html lang="en">
  {% load staticfiles %}
  <head>
    <title>Catalog - Napa Eagle Winery</title>
    <link rel="icon" href="http://www.wineinvestmentreport.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-dark.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/catalog.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Napa Eagle Wineries</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="product-index">
        {% for wine in wine_list %}
          <div class="product-card panel panel-default">
            <div class="panel-body">
           	  <div class="header">
           	    <div class="left">
           	    	<img class="image" src="http://i.imgur.com/CnLHeey.jpg"/>
           	    </div>
           	    <div class="right">
                  <div class="name">{{ wine.name }}</div>
                  <div class="location">{{ wine.location }}</div>
                  <div class="price">${{ wine.price }}</div>
           	    </div>
           	  </div>
              <div class="description">{{ wine.description }}</div>
          	  <div class="btn-group" role="group">
                <button type="button" class"btn btn-success">
                  <a class="purchase" href="/products/1">Purchase</a>
                </button>
                <button type="button" class"btn btn-warning">
          	  	  <a class="wish-list" href="/products/1">Wish List</a>
                </button>
                <button type="button" class"btn btn-primary">
          	  	  <a class="view" href="/products/1">View</a>
                </button>
          	  </div>
            </div>
          </div>
        {% endfor %}
      </div> <!--END product-index-->

      <footer>
        <p>© 2015 Napa Eagle LLC</p>
      </footer>
    </div>


    <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/catalog.js' %}"></script>
  </body>
</html>
