<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Napa Eagle Wineries - Investment grade wine</title>
    <link rel="icon" href="http://www.wineinvestmentreport.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-dark.min.css' %}">
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/parallax.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'css/ie-emulation-modes-warning.js' %}"></script>
  </head>

  <body>

    <nav id="site-navigation" class="nav">
      <div class="nav-inner">
      	<ul class="nav-menu">
      	  <li class="nav-menu-item active"><a href="#">Napa Eagle Winery</a></li>
      	  <li class="nav-menu-item"><a href="#">Home</a></li>
      	  <li class="nav-menu-item"><a href="#">Wines</a></li>
      	  <li class="nav-menu-item"><a href="#">Mission</a></li>
      	  <li class="nav-menu-item"><a href="#">Contact</a></li>
      	</ul>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="{% static 'img/main_wine.jpg' %}">
      <div class="container">
        <h1>Napa Eagle Wineries</h1>
        <p>Taste the Napa Valley difference.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Catalog »</a></p>
      </div>
    </div>

    <div class="container-fluid">

      <section id="branding">
        <h1 class="section-title">Branding information section</h1>
          <h3 class="section-description">Branding information section description</h3>
      </section>

      <section id="story">
        <h1 class="section-title">Wine information section</h1>
        <h3 class="section-description">Wine information section description</h3>
      </section>

      <section id="cab1">
        <h1 class="section-title">Cabernet Sauvignon 1 section</h1>
        <h3 class="section-description">Cabernet Sauvignon 1 section description</h3>
      </section>

      <footer>
        <p>© 2015 Napa Eagle LLC</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

  </body>
</html>
