<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Napa Eagle Wineries - Investment grade wine</title>
    <link rel="icon" href="http://www.wineinvestmentreport.com/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-dark.min.css' %}">
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/parallax.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'css/ie-emulation-modes-warning.js' %}"></script>
  </head>

  <body>

    <div class="top-border"></div>
    <nav id="site-navigation" class="nav site-navigation">
      <div class="nav-inner">
      	<ul class="nav-menu">
      	  <li id="home-nav" class="nav-menu-item" data-name="home"><a href="#">Napa Eagle Winery</a></li>
      	  <li id="about-nav" class="nav-menu-item" data-name="about"><a href="#about">About</a></li>
      	  <li id="wines-nav" class="nav-menu-item" data-name="wines"><a href="#wines">Wines</a></li>
      	  <li id="story-nav" class="nav-menu-item" data-name="story"><a href="#story">Story</a></li>
          <li id="order-nav" class="nav-menu-item" data-name="order"><a href="#order">Order</a></li>
      	  <li id="contact-nav" class="nav-menu-item" data-name="contact"><a href="#contact">Contact</a></li>
      	</ul>
      </div>
    </nav>

    <div class="container-fluid">

      <div id="home" class="home" data-image-src="{% static 'img/main_wine.jpg' %}">
        <h1 class="home-title shaded">
          Napa Eagle Wineries
        </h1>
        <p class="home-description shaded">
          Today, Napa Valley is known as one of the wine capitals of the world - arguably more acclaimed than even the Bordeaux region in France. 
          However, it wasn't always this way.
          In a 1976 blind tasting competition later to be known as the famed <em>Judgment of Paris</em>, American Cabs and Chardonnays won, topping those of the French variety. 
          This outraged the French wine industry, but from that day thereafter, America's Napa Valley was established unquestionably as a formidable producer of world class wines.
          <br><br>
          It was to this history and spirit of American pride that we, Napa Eagle Winery, entered the Cabernet Sauvignon scene. 
          Sourcing our grapes from the heart of Napa Valley from vineyards such as George III, Stagecoach, and Broken Rock, we accept only the best of the best.
          <br>
          <button>About Us</button>
        </p>
        
      </div>

      <section id="about" class="about">
        <h1 class="section-title shaded">Flying above and beyond</h1>
        <p class="section-description shaded">
          It was an afternoon visit to a Napa vineyard in Autumn 2014 when we decided that we were going to pursue winemaking for real.
          Eagles and hawks circled over our heads, searching for their prey.
          "What's up with these birds?" we asked the vineyard owner.
          He told us that these great predatory birds are the protectors of the grapes.
          They soar high in the skies, preying on small birds and rodents that would otherwise feed on the grapes.
          "That's it," we said. "We'll be known by the Napa Eagle"
          <br><br>
          The eagle is a symbol of America. And as ethnic Chinese, we want to show that despite our differing heritage, we are part of the American spirit.
          What better way to do it than to play a part in the proud wine-growing area of America - Napa Valley?
        </p>
      </section>

      <section id="wines" class="wines">
        <h1 class="section-title shaded">Cabernet Sauvignon</h1>
        <p class="section-description shaded">
          We are currently producing a 2013 Broken Rock vintage as well as 2014 George III and 2014 Stagecoach vintages!
          Our wines are set to launch in November 2015.
          Stay tuned for more information!
        </p>
      </section>

      <section id="story" class="story">
        <h1 class="section-title shaded">Our story, our legacy</h1>
        <p class="section-description shaded">
        Winemaking in Napa Valley has been a industry traditionally dominated by European Americans.
        We are Chinese Americans who are here to challenge that.
        Our ancestors came here and built the railroads, providing the fundamental infrastructure that California needed to thrive.
        And through the fruits of our labor, entire communities, cities, and industries rose along the beautiful bay, across the mountainous horizon, and of course - cradled within the luscious, prime vineyards of Napa Valley, California.
        <br><br>
        We're here to take part in the industry, the community that was in part founded by the toil of our ancestors.
        We're here to demonstrate that we can make world class wines just as well or better. 
        Taking our heritage to heart, we give our wine with the ancient touch of the Chinese - and you'll taste it in every single drop.
        </p>
      </section>

      <section id="order" class="order">
        <h1 class="section-title shaded">Place an order</h1>
        <p class="section-description shaded">
          Our wines will be available in November 2015!
          Stayed tuned for news about our launch!
        </p>
      </section>

      <section id="contact" class="contact">
        <h1 class="section-title shaded">Contact</h1>
        <div class="section-description shaded">
          <form action="/" method="post">
            {% csrf_token %}
            {{ contact_form }}
            <input type="submit" value="Submit" />
          </form>
        </div>
      </section>
      <div class="footer">
        <p>© 2015 Napa Eagle LLC</p>
      </div>

    </div> <!-- /container -->


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'js/parallax.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

  </body>
</html>
