.main-display {
	background-image: url('../img/barrel_wine.jpg');
	background-repeat: no-repeat;
	background-size: 80%;
	background-position-y: -60px;
	height: 40vw;
	font-family: 'Roboto', sans-serif;
}