/* Main css file for catalog.html */
.products-index {
    position: relative;
}

.product-card {
    position: absolute;
    width: 260px;
}

.product-card .header {
    position: relative;
}

.product-card .header .left {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 120px;
}

 .product-card .header .right {
    position: absolute;
    left: 92px;
    top: 0;
    right: 0;
    height: 120px;
}

